.App {
  text-align: center;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  width: 100vw;
  display: flex;
  flex-direction: column;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
