header {
  height: 65px;
  width: 100%;
  position: fixed;
  top: 0px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: right;
  pointer-events: none;
}

nav {
  margin-right: 25px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: right;
  pointer-events: visible;
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 70px;
  width: 100%;
  background: #000000;
  box-shadow: inset 0px 0.5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 0 0;
}

.logout-button {
  border: 0;
  background: none;
  font-weight: 900;
  font-size: 24px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.24px;
  color: #ffffff;
}

@media (max-height: 650px) {
  header {
    height: 42px;
  }
}
