header {
  height: 137px;
  width: 100%;
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: -100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  margin-right: 25px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 110px;
  margin: 0 25px;
}
