header {
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: right;
  pointer-events: none;
}

nav {
  margin-right: 25px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: right;
  pointer-events: visible;
}

.logo {
  width: 110px;
  margin: 0 25px;
}
